
<div class="feature_icon">
  <%= image_tag('about_mugshot.svg') %>
</div>
 <p class="pg_title"> about </p>

<div class="rule"></div>

<div class="grid_7 push_2 profile_container" style="width: 70%; margin-left: auto; margin-right:auto; position:relative; top:-10px;">

  <p class="about_us_text">
    The Startup Network aims to connect you with your future startup cofounder.
  </p>
  <p class="about_us_text">
    It is a social networking site built specifically for students, by students. It is designed to allow users to share their interests and passions, and to market their skills, experiences, and ideas to other members of the community.
  </p>
  <p class="about_us_text">
    Best of luck!
  </p>
  <p style="font-size:12px; font-weight:normal; margin-top: 50px;">
    P.S. This is very much still a work in progress so please forgive the very limited capabilities of this beta. If you have thoughts, comments, feedback, or ideas they would be most welcome. Send them directly to me at <a href="mailto:eding@mba2015.hbs.edu">eding@mba2015.hbs.edu</a>
  </p>

  <p>Major thanks to Livien Yin and Woo Jin Park who did all of the front-end design of this site</p>

</div>

