
<div class="feature_icon">
  <%= image_tag('about_mugshot.svg') %>
</div>
 <p class="pg_title"> about </p>

<div class="rule"></div>

<div style="width: 100px; display:inline-block; position:relative; top:65px; right: -10px;">
  <%= image_tag('euwen_bw.jpeg', :class => "about_picture") %>

</div>

<div class="about_us_text grid_4 right profile_container" style="width: 70%; margin-left: auto; margin-right:auto; font-size: 15px;">
  <p>
    Hi, my name is Eu-wen, I am an incoming HBS student.
  </p>
  <p>
    I am interested in entrepreneurship. The opportunity to meet people and potential co-founders is a big reason why I am excited to attend HBS this fall.
  </p>
  <p>
    Its only June, but I thought, why wait to meet other HBSers interested in entrepreneurship? I found the HBS '15 Facebook group to be ill-suited for that, and the ClassCard thing that HBS seems to use seemed pretty ancient.
  </p>
  <p>
    I thought I could do a better job, so in the spirit of just doing it, I built this. I really hope that people like it, that people will use it, and most importantly, that it will spark connections that result in meaningful relationships and interactions when we come together on campus this fall.
  </p>
  <p>
    If you have thoughts, feedback, ideas, or criticisms I encourage you to reach out to me. I would love to chat. You can contact me directly at eding@mba2015.hbs.edu
  </p>

  <p> NOTE THAT I HAD INTENDED TO PUT MY USER PROFILE CARD BELOW. SOME BUGS WITH THAT THOUGH </p>

</div>
