<p>Welcome to The Startup Network <%= @first_name %>!

<p>Confirm your account by clicking on this link: <%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Thanks!</p>
